{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{employee.id}}" method="POST">
          <div class="form-group">
            <p>Parcel Number/ID</p>
            <input type="text" name="parcel" value="{{employee.parcel}}" class="form-control" placeholder="Parcel Number/ID">
          </div>
          <div class="form-group">
            <p>Roll Year</p>
            <input type="text" name="roll" value="{{employee.roll}}" class="form-control" placeholder="Roll Year">
          </div>
          <div class="form-group">
            <p>Petition Number</p>
            <input type="text" name="petition" value="{{employee.petition}}" class="form-control" placeholder="Petition Number">
          </div>
          <div class="form-group">
            <p>Improvement Data</p>
            <input type="text" name="pacs" value="{{employee.pacs}}" class="form-control" placeholder="Improvement Data">
          </div>
          <div class="form-group">
            <p>Zoning</p>
            <input type="text" name="zoning" value="{{employee.zoning}}" class="form-control" placeholder="Zoning">
          </div>
          <div class="form-group">
            <p>Tangible Personal Property</p>
            <input type="text" name="tang" value="{{employee.tang}}" class="form-control" placeholder="Tangible Personal Property">
          </div>
          <div class="form-group">
            <p>Cost Approach</p>
            <input type="text" name="cost" value="{{employee.cost}}" class="form-control" placeholder="Cost Approach">
          </div>
          <div class="form-group">
            <p>Sales Approach</p>
            <input type="text" name="sale" value="{{employee.sale}}" class="form-control" placeholder="Sales Approach">
          </div>
          <div class="form-group">
            <p>Income Approach</p>
            <input type="text" name="income" value="{{employee.income}}" class="form-control" placeholder="Income Approach">
          </div>
          <div class="form-group">
            <p>Occupancy</p>
            <input type="text" name="occupancy" value="{{employee.occupancy}}" class="form-control" placeholder="Occupancy">
          </div>
          <div class="form-group">
            <p>Building Class</p>
            <input type="text" name="build" value="{{employee.build}}" class="form-control" placeholder="Building Class">
          </div>
          <div class="form-group">
            <p>Quality</p>
            <input type="text" name="quality" value="{{employee.quality}}" class="form-control" placeholder="Quality">
          </div>
          <div class="form-group">
            <p>Age</p>
            <input type="text" name="age" value="{{employee.age}}" class="form-control" placeholder="Age">
          </div>
          <div class="form-group">
            <p>Condition</p>
            <input type="text" name="condition" value="{{employee.condition}}" class="form-control" placeholder="Condition">
          </div>
          <div class="form-group">
            <p>Price per SqFt</p>
            <input type="text" name="priceSquare" value="{{employee.priceSquare}}" class="form-control" placeholder="Price per SqFt">
          </div>
          <div class="form-group">
            <p>Building Improvements</p>
            <input type="text" name="buildImpr" value="{{employee.buildImpr}}" class="form-control" placeholder="Building Improvements">
          </div>
          <div class="form-group">
            <p>Misc. Extra Feature Value</p>
            <input type="text" name="extraFeature" value="{{employee.extraFeature}}" class="form-control" placeholder="Misc. Extra Feature Value">
          </div>
          <div class="form-group">
            <p>Estimated Land Value</p>
            <input type="text" name="estLandVal" value="{{employee.estLandVal}}" class="form-control" placeholder="Estimated Land Value">
          </div>
          <div class="form-group">
            <p>Total Cost Approach</p>
            <input type="text" name="totalCostAppr" value="{{employee.totalCostAppr}}" class="form-control" placeholder="Total Cost Approach">
          </div>
          <div class="form-group">
            <p>Property Appraiser Market Value</p>
            <input type="text" name="propApprMarketVal" value="{{employee.propApprMarketVal}}" class="form-control" placeholder="Property Appraiser Market Value">
          </div>
          <div class="form-group">
            <p>Potential Gross Income</p>
            <input type="text" name="potentialGrossIncome" value="{{employee.potentialGrossIncome}}" class="form-control" placeholder="Potential Gross Income">
          </div>
          <div class="form-group">
            <p>Less Vacancies and Collections</p>
            <input type="text" name="lessVacanciesAndCollections" value="{{employee.lessVacanciesAndCollections}}" class="form-control" placeholder="Less Vacancies and Collections">
          </div>
          <div class="form-group">
            <p>Effective Gross Income</p>
            <input type="text" name="effectiveGrossIncome" value="{{employee.effectiveGrossIncome}}" class="form-control" placeholder="Effective Gross Income">
          </div>
          <div class="form-group">
            <p>Less Operating Expenses</p>
            <input type="text" name="lessOperatingExpenses" value="{{employee.lessOperatingExpenses}}" class="form-control" placeholder="Less Operating Expenses">
          </div>
          <div class="form-group">
            <p>Net Operating Income</p>
            <input type="text" name="netOperatingIncome" value="{{employee.netOperatingIncome}}" class="form-control" placeholder="Net Operating Income">
          </div>
          <div class="form-group">
            <p>Cap Rate</p>
            <input type="text" name="capRate" value="{{employee.capRate}}" class="form-control" placeholder="Cap Rate">
          </div>
          <div class="form-group">
            <p>Plus Effective Tax Rate</p>
            <input type="text" name="plusEffectiveTaxRate" value="{{employee.plusEffectiveTaxRate}}" class="form-control" placeholder="Plus Effective Tax Rate">
          </div>
          <div class="form-group">
            <p>Overall Rate</p>
            <input type="text" name="overallRate" value="{{employee.overallRate}}" class="form-control" placeholder="Overall Rate">
          </div>
          <div class="form-group">
            <p>Estimated Market Value</p>
            <input type="text" name="estimatedMarketVal" value="{{employee.estimatedMarketVal}}" class="form-control" placeholder="Estimated Market Value">
          </div>
          <div class="form-group">
            <p>Cost Comparable 1 Parcel #</p>
            <input type="text" name="cost_comp1_parcel" value="{{employee.cost_comp1_parcel}}" class="form-control" placeholder="Cost Comparable 1 Parcel #">
          </div>
          <div class="form-group">
            <p>Cost Comparable 1 Sale Price</p>
            <input type="text" name="cost_comp1_sale_price" value="{{employee.cost_comp1_sale_price}}" class="form-control" placeholder="Cost Comparable 1 Sale Price">
          </div>
          <div class="form-group">
            <p>Cost Comparable 1 Size</p>
            <input type="text" name="cost_comp1_size" value="{{employee.cost_comp1_size}}" class="form-control" placeholder="Cost Comparable 1 Size">
          </div>
          <div class="form-group">
            <p>Cost Comparable 1 Price per sq ft</p>
            <input type="text" name="cost_comp1_price_per_square" value="{{employee.cost_comp1_price_per_square}}" class="form-control" placeholder="Cost Comparable 1 Price per sq ft">
          </div>
          <div class="form-group">
            <p>Cost Comparable 2 Parcel #</p>
            <input type="text" name="cost_comp2_parcel" value="{{employee.cost_comp2_parcel}}" class="form-control" placeholder="Cost Comparable 2 Parcel #">
          </div>
          <div class="form-group">
            <p>Cost Comparable 2 Sale Price</p>
            <input type="text" name="cost_comp2_sale_price" value="{{employee.cost_comp2_sale_price}}" class="form-control" placeholder="Cost Comparable 2 Sale Price">
          </div>
          <div class="form-group">
            <p>Cost Comparable 2 Size</p>
            <input type="text" name="cost_comp2_size" value="{{employee.cost_comp2_size}}" class="form-control" placeholder="Cost Comparable 2 Size">
          </div>
          <div class="form-group">
            <p>Cost Comparable 2 Price per sq ft</p>
            <input type="text" name="cost_comp2_price_per_square" value="{{employee.cost_comp2_price_per_square}}" class="form-control" placeholder="Cost Comparable 2 Price per sq ft">
          </div>
          <div class="form-group">
            <p>Cost Comparable 3 Parcel #</p>
            <input type="text" name="cost_comp3_parcel" value="{{employee.cost_comp3_parcel}}" class="form-control" placeholder="Cost Comparable 3 Parcel #">
          </div>
          <div class="form-group">
            <p>Cost Comparable 3 Sale Price</p>
            <input type="text" name="cost_comp3_sale_price" value="{{employee.cost_comp3_sale_price}}" class="form-control" placeholder="Cost Comparable 3 Sale Price">
          </div>
          <div class="form-group">
            <p>Cost Comparable 3 Size</p>
            <input type="text" name="cost_comp3_size" value="{{employee.cost_comp3_size}}" class="form-control" placeholder="Cost Comparable 3 Size">
          </div>
          <div class="form-group">
            <p>Cost Comparable 3 Price per sq ft</p>
            <input type="text" name="cost_comp3_price_per_square" value="{{employee.cost_comp3_price_per_square}}" class="form-control" placeholder="Cost Comparable 3 Price per sq ft">
          </div>
          <div class="form-group">
            <p>BB_JV</p>
            <input type="text" name="BB_JV" value="{{employee.BB_JV}}" class="form-control" placeholder="BB_JV">
          </div>
          <div class="form-group">
            <p>BB_AV</p>
            <input type="text" name="BB_AV" value="{{employee.BB_AV}}" class="form-control" placeholder="BB_AV">
          </div>
          <div class="form-group">
            <p>BB_EV</p>
            <input type="text" name="BB_EV" value="{{employee.BB_EV}}" class="form-control" placeholder="BB_EV">
          </div>
          <div class="form-group">
            <p>BB_TV</p>
            <input type="text" name="BB_TV" value="{{employee.BB_TV}}" class="form-control" placeholder="BB_TV">
          </div>
          <div class="form-group">
            <p>PACS_Zoning</p>
            <input type="text" name="PACS_Zoning" value="{{employee.PACS_Zoning}}" class="form-control" placeholder="PACS_Zoning">
          </div>
          <div class="form-group">
            <p>PUSE</p>
            <input type="text" name="PUSE" value="{{employee.PUSE}}" class="form-control" placeholder="PUSE">
          </div>
          <div class="form-group">
            <p>Just_Value</p>
            <input type="text" name="Just_Value" value="{{employee.Just_Value}}" class="form-control" placeholder="Just_Value">
          </div>
          <div class="form-group">
            <p>Assessed_Value</p>
            <input type="text" name="Assesssed_Value" value="{{employee.Assessed_Value}}" class="form-control" placeholder="Assessed_Value">
          </div>
          <div class="form-group">
            <p>Exemption_Value</p>
            <input type="text" name="Exemption_Value" value="{{employee.Exemption_Value}}" class="form-control" placeholder="Exemption_Value">
          </div>
          <div class="form-group">
            <p>Taxable_Value</p>
            <input type="text" name="Taxable_Value" value="{{employee.Taxable_Value}}" class="form-control" placeholder="Taxable_Value">
          </div>
          <div class="form-group">
            <p>PACS_Quality</p>
            <input type="text" name="PACS_Quality" value="{{employee.PACS_Quality}}" class="form-control" placeholder="PACS_Quality">
          </div>
          <div class="form-group">
            <p>PACS_Age</p>
            <input type="text" name="PACS_Age" value="{{employee.PACS_Age}}" class="form-control" placeholder="PACS_Age">
          </div>
          <div class="form-group">
            <p>Appraisal_Method</p>
            <input type="text" name="Appraisal_Method" value="{{employee.Appraisal_Method}}" class="form-control" placeholder="BB_TV">
          </div>
          <div class="form-group">
            <p>Living_Area</p>
            <input type="text" name="Living_Area" value="{{employee.Living_Area}}" class="form-control" placeholder="Living_Area">
          </div>
          <div class="form-group">
            <p>Legal_Acreage</p>
            <input type="text" name="Legal_Acreage" value="{{employee.Legal_Acreage}}" class="form-control" placeholder="Legal_Acreage">
          </div>
          <div class="form-group">
            <p>Imprv_Val</p>
            <input type="text" name="Imprv_Val" value="{{employee.Imprv_Val}}" class="form-control" placeholder="Imprv_Val">
          </div>
          <div class="form-group">
            <p>Misc_Val</p>
            <input type="text" name="Misc_Val" value="{{employee.Misc_Val}}" class="form-control" placeholder="Misc_Val">
          </div>
          <div class="form-group">
            <p>Land_Val</p>
            <input type="text" name="Land_Val" value="{{employee.Land_Val}}" class="form-control" placeholder="Land_Val">
          </div>
          <div class="form-group">
            <p>Owner_Mail_Name</p>
            <input type="text" name="Owner_Mail_Name" value="{{employee.Owner_Mail_Name}}" class="form-control" placeholder="Owner_Mail_Name">
          </div>
          <div class="form-group">
            <p>Owner_Mail_Addr1</p>
            <input type="text" name="Owner_Mail_Addr1" value="{{employee.Owner_Mail_Addr1}}" class="form-control" placeholder="Owner_Mail_Addr1">
          </div>
          <div class="form-group">
            <p>Owner_Mail_Addr2</p>
            <input type="text" name="Owner_Mail_Addr2" value="{{employee.Owner_Mail_Addr2}}" class="form-control" placeholder="Owner_Mail_Addr2">
          </div>
          <div class="form-group">
            <p>Owner_Mail_Addr3</p>
            <input type="text" name="Owner_Mail_Addr3" value="{{employee.Owner_Mail_Addr3}}" class="form-control" placeholder="Owner_Mail_Addr3">
          </div>
          <div class="form-group">
            <p>Owner_Mail_City</p>
            <input type="text" name="Owner_Mail_City" value="{{employee.Owner_Mail_City}}" class="form-control" placeholder="Owner_Mail_City">
          </div>
          <div class="form-group">
            <p>Owner_Mail_State</p>
            <input type="text" name="Owner_Mail_State" value="{{employee.Owner_Mail_State}}" class="form-control" placeholder="Owner_Mail_State">
          </div>
          <div class="form-group">
            <p>Owner_Mail_Zip</p>
            <input type="text" name="Owner_Mail_Zip" value="{{employee.Owner_Mail_Zip}}" class="form-control" placeholder="Owner_Mail_Zip">
          </div>
          <div class="form-group">
            <p>Owner_Mail_Country</p>
            <input type="text" name="Owner_Mail_Country" value="{{employee.Owner_Mail_Country}}" class="form-control" placeholder="Owner_Mail_Country">
          </div>
          <div class="form-group">
            <p>Cover_Name</p>
            <input type="text" name="Cover_Name" value="{{employee.Cover_Name}}" class="form-control" placeholder="Cover_Name">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
