{% extends "layout.html" %}
{% block body %}
 <h4 style="padding-left:15px;padding-top:20px;">Add Entry</h4>
  <div class="row">
    <div class="col-md-3" style="padding-top:10px;">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">

          <div style="padding:0px 10px 0px 0px;">
            <button id="PACS" class="btn btn-info" onclick="window.toggleColumn()" style="margin-top:5px;">
                Parcel Attributes
            </button>
            <button id="VAB" class="btn btn-info" onclick="window.toggleColumn()" style="margin-top:5px;">
                VAB Attributes
            </button>
          </div>
          <div style="padding:0px 10px 15px 0px;">
            <button id="COST" class="btn btn-info" onclick="window.toggleColumn()" style="margin-top:5px;">Cost</button>
            <button id="SALE" class="btn btn-info" onclick="window.toggleColumn()" style="margin-top:5px;">Sales</button>
            <button id="INCOME" class="btn btn-info" onclick="window.toggleColumn()" style="margin-top:5px;">Income</button>
            <button id="MAT" class="btn btn-info" onclick="window.toggleColumn()" style="margin-top:5px;">MAT</button>
          </div>


          <form action="{{url_for('add_employee')}}" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="parcel" placeholder="Parcel Number/ID">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="roll" placeholder="Roll Year">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="petition" placeholder="Petition Number">
          </div>
          <div class="form-group yclass">
            <input type="text" class="form-control" name="pacs" placeholder="Improvement Data">
          </div>
          <div class="form-group yclass">
            <input type="text" class="form-control" name="zoning" placeholder="Zoning">
          </div>
          <div class="form-group yclass">
            <input type="text" class="form-control" name="tang" placeholder="Tangible Personal Property">
          </div>
          <div class="form-group yclass">
            <input type="text" class="form-control" name="cost" placeholder="Cost Approach">
          </div>
          <div class="form-group yclass">
            <input type="text" class="form-control" name="sale" placeholder="Sales Approach">
          </div>
          <div class="form-group yclass">
            <input type="text" class="form-control" name="income" placeholder="Income Approach">
          </div>
          <div class="form-group xclass">
            <input type="text" class="form-control" name="occupancy" placeholder="Occupancy">
          </div>
          <div class="form-group xclass">
            <input type="text" class="form-control" name="build" placeholder="Building Class">
          </div>
          <div class="form-group xclass">
            <input type="text" class="form-control" name="quality" placeholder="Quality">
          </div>
          <div class="form-group xclass">
            <input type="text" class="form-control" name="age" placeholder="Age">
          </div>
          <div class="form-group xclass">
            <input type="text" class="form-control" name="condition" placeholder="Condition">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="priceSquare" placeholder="Price per SqFt">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="buildImpr" placeholder="Building Improvements">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="extraFeature" placeholder="Misc. Extra Feature Value">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="estLandVal" placeholder="Estimated Land Value">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="totalCostAppr" placeholder="Total Cost Approach">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="propApprMarketVal" placeholder="Property Appraiser Market Value">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="potentialGrossIncome" placeholder="Potential Gross Income">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="lessVacanciesAndCollections" placeholder="Less Vacancies and Collections">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="effectiveGrossIncome" placeholder="Effectve Gross Income">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="lessOperatingExpenses" placeholder="Less Operating Expenses">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="netOperatingIncome" placeholder="Net Operating Income">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="capRate" placeholder="Cap Rate">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="plusEffectiveTaxRate" placeholder="Plus Effective Tax Rate">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="overallRate" placeholder="Overall Rate">
          </div>
          <div class="form-group aclass">
            <input type="text" class="form-control" name="estimatedMarketVal" placeholder="Estimated Market Value">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp1_parcel" placeholder="Cost Comparable 1 Parcel #">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp1_sale_price" placeholder="Cost Comparable 1 Sale Price">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp1_size" placeholder="Cost Comparable 1 Size">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp1_price_per_square" placeholder="Cost Comparable 1 Price per sq ft">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp2_parcel" placeholder="Cost Comparable 2 Parcel #">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp2_sale_price" placeholder="Cost Comparable 2 Sale Price">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp2_size" placeholder="Cost Comparable 2 Size">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp2_price_per_square" placeholder="Cost Comparable 2 Price per sq ft">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp3_parcel" placeholder="Cost Comparable 3 Parcel #">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp3_sale_price" placeholder="Cost Comparable Sale 3 Price">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp3_size" placeholder="Cost Comparable 3 Size">
          </div>
          <div class="form-group zclass">
            <input type="text" class="form-control" name="cost_comp3_price_per_square" placeholder="Cost Comparable 3 Price per sq ft">
          </div>
          <div class="form-group MATclass">
            <input type="text" class="form-control" name="BB_JV" placeholder="Before Board Just Value">
          </div>
          <div class="form-group MATclass">
            <input type="text" class="form-control" name="BB_AV" placeholder="Before Board Assessed Value">
          </div>
          <div class="form-group MATclass">
            <input type="text" class="form-control" name="BB_EV" placeholder="Before Board Exemption Value">
          </div>
          <div class="form-group MATclass">
            <input type="text" class="form-control" name="BB_TV" placeholder="Before Board Taxable Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="PACS_Zoning" placeholder="PACS Zoning">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="PUSE" placeholder="Property Use">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Just_Value" placeholder="Just Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Assessed_Value" placeholder="Assessed Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Exemption_Value" placeholder="Exemption Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Taxable_Value" placeholder="Taxable Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="PACS_Quality" placeholder="PACS Quality">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="PACS_Age" placeholder="PACS Age">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Appraisal_Method" placeholder="Appraisal Method">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Living_Area" placeholder="Living Area">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Legal_Acreage" placeholder="Legal Acreage">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Imprv_Val" placeholder="Improvement Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Misc_Val" placeholder="Miscellaneous Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Land_Val" placeholder="Land Value">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_Name" placeholder="Owner Mail Name">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_Addr1" placeholder="Owner Mail Address 1">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_Addr2" placeholder="Owner Mail Address 2">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_Addr3" placeholder="Owner Mail Address 3">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_City" placeholder="Owner Mail City">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_State" placeholder="Owner Mail State">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_Zip" placeholder="Owner Mail Zip">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Owner_Mail_Country" placeholder="Owner Mail Country">
          </div>
          <div class="form-group PACSclass">
            <input type="text" class="form-control" name="Cover_Name" placeholder="Cover Name">
          </div>
          <button class="btn btn-primary btn-block" style="margin-bottom:5px;">
            Save
          </button>
        </form>
      </div>
    </div>
    <div style="overflow: auto; padding-top: 15px; margin-top: 10px;" class="col-md-9 border rounded">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <td>ID</td>
            <td>Parcel Number/ID</td>
            <td>Roll Year</td>
            <td>Petition Number</td>
            <td class="yclass">Improvement Data</td>
            <td class="yclass">Zoning</td>
            <td class="yclass">Tangible Personal Property</td>
            <td class="yclass">Cost Approach</td>
            <td class="yclass">Sales Approach</td>
            <td class="yclass">Income Approach</td>
            <td class="xclass">Occupancy</td>
            <td class="xclass">Building Class</td>
            <td class="xclass">Quality</td>
            <td class="xclass">Age</td>
            <td class="xclass">Condition</td>
            <td class="zclass">Price per SqFt</td>
            <td class="zclass">Building Improvements</td>
            <td class="zclass">Misc. Extra Feature Value</td>
            <td class="zclass">Estimated Land Value</td>
            <td class="zclass">Total Cost Approach</td>
            <td class="zclass">Property Appraiser Market Value</td>
            <td class="zclass">Cost Comparable 1 Parcel #</td>
            <td class="zclass">Cost Comparable 1 Sale Price</td>
            <td class="zclass">Cost Comparable 1 Size</td>
            <td class="zclass">Cost Comparable 1 Price per sq ft</td>
            <td class="zclass">Cost Comparable 2 Parcel #</td>
            <td class="zclass">Cost Comparable 2 Sale Price</td>
            <td class="zclass">Cost Comparable 2 Size</td>
            <td class="zclass">Cost Comparable 2 Price per sq ft</td>
            <td class="zclass">Cost Comparable 3 Parcel #</td>
            <td class="zclass">Cost Comparable 3 Sale Price</td>
            <td class="zclass">Cost Comparable 3 Size</td>
            <td class="zclass">Cost Comparable 3 Price per sq ft</td>
            <td class="aclass">Potential Gross Income</td>
            <td class="aclass">Less Vacancies and Collections</td>
            <td class="aclass">Effective Gross Income</td>
            <td class="aclass">Less Operating Expenses</td>
            <td class="aclass">Net Operating Income</td>
            <td class="aclass">Cap Rate</td>
            <td class="aclass">Plus Effective Tax Rate</td>
            <td class="aclass">Overall Rate</td>
            <td class="aclass">Estimated Market Value</td>
            <td class="MATclass">BB_JV</td>
            <td class="MATclass">BB_AV</td>
            <td class="MATclass">BB_EV</td>
            <td class="MATclass">BB_TV</td>
            <td class="PACSclass">PACS_Zoning</td>
            <td class="PACSclass">PUSE</td>
            <td class="PACSclass">Just_Value</td>
            <td class="PACSclass">Assessed_Value</td>
            <td class="PACSclass">Exemption_Value</td>
            <td class="PACSclass">Taxable_Value</td>
            <td class="PACSclass">PACS_Quality</td>
            <td class="PACSclass">PACS_Age</td>
            <td class="PACSclass">Appraisal_Method</td>
            <td class="PACSclass">Living_Area</td>
            <td class="PACSclass">Legal_Acreage</td>
            <td class="PACSclass">Imprv_Val</td>
            <td class="PACSclass">Misc_Val</td>
            <td class="PACSclass">Land_Val</td>
            <td class="PACSclass">Owner_Mail_Name</td>
            <td class="PACSclass">Owner_Mail_Addr1</td>
            <td class="PACSclass">Owner_Mail_Addr2</td>
            <td class="PACSclass">Owner_Mail_Addr3</td>
            <td class="PACSclass">Owner_Mail_City</td>
            <td class="PACSclass">Owner_Mail_State</td>
            <td class="PACSclass">Owner_Mail_Zip</td>
            <td class="PACSclass">Owner_Mail_Country</td>
            <td class="PACSclass">Cover_Name</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          {% for data in employee %}
          <tr>
            <td>{{data.id}}</td>
            <td>{{data.parcel}}</td>
            <td>{{data.roll}}</td>
            <td>{{data.petition}}</td>
            <td class="yclass">{{data.pacs}}</td>
            <td class="yclass">{{data.zoning}}</td>
            <td class="yclass">{{data.tang}}</td>
            <td class="yclass">{{data.cost}}</td>
            <td class="yclass">{{data.sale}}</td>
            <td class="yclass">{{data.income}}</td>
            <td class="xclass">{{data.occupancy}}</td>
            <td class="xclass">{{data.build}}</td>
            <td class="xclass">{{data.quality}}</td>
            <td class="xclass">{{data.age}}</td>
            <td class="xclass">{{data.condition}}</td>
            <td class="zclass">{{data.priceSquare}}</td>
            <td class="zclass">{{data.buildImpr}}</td>
            <td class="zclass">{{data.extraFeature}}</td>
            <td class="zclass">{{data.estLandVal}}</td>
            <td class="zclass">{{data.totalCostAppr}}</td>
            <td class="zclass">{{data.propApprMarketVal}}</td>
            <td class="zclass">{{data.cost_comp1_parcel}}</td>
            <td class="zclass">{{data.cost_comp1_sale_price}}</td>
            <td class="zclass">{{data.cost_comp1_size}}</td>
            <td class="zclass">{{data.cost_comp1_price_per_square}}</td>
            <td class="zclass">{{data.cost_comp2_parcel}}</td>
            <td class="zclass">{{data.cost_comp2_sale_price}}</td>
            <td class="zclass">{{data.cost_comp2_size}}</td>
            <td class="zclass">{{data.cost_comp2_price_per_square}}</td>
            <td class="zclass">{{data.cost_comp3_parcel}}</td>
            <td class="zclass">{{data.cost_comp3_sale_price}}</td>
            <td class="zclass">{{data.cost_comp3_size}}</td>
            <td class="zclass">{{data.cost_comp3_price_per_square}}</td>
            <td class="aclass">{{data.potentialGrossIncome}}</td>
            <td class="aclass">{{data.lessVacanciesAndCollections}}</td>
            <td class="aclass">{{data.effectiveGrossIncome}}</td>
            <td class="aclass">{{data.lessOperatingExpenses}}</td>
            <td class="aclass">{{data.netOperatingIncome}}</td>
            <td class="aclass">{{data.capRate}}</td>
            <td class="aclass">{{data.plusEffectiveTaxRate}}</td>
            <td class="aclass">{{data.overallRate}}</td>
            <td class="aclass">{{data.estimatedMarketVal}}</td>
            <td class="MATclass">{{data.BB_JV}}</td>
            <td class="MATclass">{{data.BB_AV}}</td>
            <td class="MATclass">{{data.BB_EV}}</td>
            <td class="MATclass">{{data.BB_TV}}</td>
            <td class="PACSclass">{{data.PACS_Zoning}}</td>
            <td class="PACSclass">{{data.PUSE}}</td>
            <td class="PACSclass">{{data.Just_Value}}</td>
            <td class="PACSclass">{{data.Assessed_Value}}</td>
            <td class="PACSclass">{{data.Exemption_Value}}</td>
            <td class="PACSclass">{{data.Taxable_Value}}</td>
            <td class="PACSclass">{{data.PACS_Quality}}</td>
            <td class="PACSclass">{{data.PACS_Age}}</td>
            <td class="PACSclass">{{data.Appraisal_Method}}</td>
            <td class="PACSclass">{{data.Living_Area}}</td>
            <td class="PACSclass">{{data.Legal_Acreage}}</td>
            <td class="PACSclass">{{data.Imprv_Val}}</td>
            <td class="PACSclass">{{data.Misc_Val}}</td>
            <td class="PACSclass">{{data.Land_Val}}</td>
            <td class="PACSclass">{{data.Owner_Mail_Name}}</td>
            <td class="PACSclass">{{data.Owner_Mail_Addr1}}</td>
            <td class="PACSclass">{{data.Owner_Mail_Addr2}}</td>
            <td class="PACSclass">{{data.Owner_Mail_Addr3}}</td>
            <td class="PACSclass">{{data.Owner_Mail_City}}</td>
            <td class="PACSclass">{{data.Owner_Mail_State}}</td>
            <td class="PACSclass">{{data.Owner_Mail_Zip}}</td>
            <td class="PACSclass">{{data.Owner_Mail_Country}}</td>
            <td class="PACSclass">{{data.Cover_Name}}</td>
            <td width="130">
              <a href="/edit/{{data.id}}" class="btn btn-secondary btn-sm">edit</a>
              <a href="/delete/{{data.id}}" class="btn btn-danger btn-delete btn-sm">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
